#titleArea{
	width: 100vw;
	box-sizing: border-box;
	text-align: center;
	background-color: darkgrey;
	padding-top: 1vh;
	height: 15vh;
}

h1{
	color: white;
	margin-bottom: 0;
}

h2{
	margin-top: 0;
	color: white;
}

#contentArea{
	width: 100vw;
	height: 85vh;
	box-sizing: border-box;
	background-color: lightgrey;
}

html{
	font-family: monospace;
}

body{
	margin: 0px;
	height: 100vh;
	width: 100vw;
}